alacritty
AmneziaVPN.ORG
arduino-ide
Arduino IDE
arkrc
autostart
baloofilerc
cachyos
cachyos-hello.json
cava
Code - OSS
dconf
dolphinrc
filetypesrc
fish
go
gtk-3.0
gtk-4.0
kactivitymanagerdrc
kcminputrc
kconf_updaterc
kdeconnect
kdedefaults
kdeglobals
kwinrc
libinput-gestures.conf
libreoffice
matplotlib
mc
menus
micro
mimeapps.list
mpv
nautilus
neofetch
okularpartrc
okularrc
plasma-org.kde.plasma.desktop-appletsrc
plasmashellrc
procps
pulse
QtProject.conf
session
Trolltech.conf
user-dirs.dirs
user-dirs.locale
VirtualBox
vlc
VSCodium
xsettingsd
yandex-browser
YandexMusic
yay
zen