alacritty
arkrc
autostart
baloofilerc
cachyos
cachyos-hello.json
cava
Code - OSS
dconf
dolphinrc
doublecmd
fish
foot
gtk-3.0
gtk-4.0
gtkrc
gtkrc-2.0
kactivitymanagerdrc
kcminputrc
kconf_updaterc
kdeconnect
kdedefaults
kdeglobals
krarc
krusader
krusaderrc
kwinrc
libinput-gestures.conf
libreoffice
mc
micro
mimeapps.list
mozilla
plasma-org.kde.plasma.desktop-appletsrc
plasmashellrc
procps
pulse
QtProject
QtProject.conf
session
sunflower
swaync
systemd
systemmonitorrc
trashrc
Trolltech.conf
user-dirs.dirs
user-dirs.locale
xsettingsd
yandex-browser
YandexMusic
yay
