alacritty
AmneziaVPN.ORG
arduino-ide
Arduino IDE
arkrc
autostart
baloofilerc
bluedevilglobalrc
bpytop
cachyos
cachyos-hello.json
cava
configstore
dconf
dolphinrc
filetypesrc
fish
geeqie
GIMP
go
gtk-3.0
gtk-4.0
gtkrc
gtkrc-2.0
kactivitymanagerdrc
kcminputrc
kconf_updaterc
kdeconnect
kded5rc
kdedefaults
kdeglobals
kglobalshortcutsrc
kiorc
ksmserverrc
ktimezonedrc
kwinoutputconfig.json
kwinrc
libaccounts-glib
libinput-gestures.conf
libreofficemako
matplotlib
mc
menus
micro
mimeapps.list
mpv
nautilus
neofetch
okularpartrc
okularrc
plasma-localerc
plasma-org.kde.plasma.desktop-appletsrc
plasmashellrc
powermanagementprofilesrc
procps
pulse
QtProject.conf
session
systemmonitorrc
trashrc
Trolltech.conf
user-dirs.dirs
user-dirs.locale
VirtualBox
vlc
VSCodium
xsettingsd
yandex-browser
YandexMusic
yay
zen
