* {	
	t-c: #700070;
	a-c: #FF00FF;
	f-c: #000000;

	location:   2;
	anchor:   center;
    	height: 360px;
	width: 860px;    
	font: "Comic Mono 14";
}

window {
	y-offset: -35px;
	margin: 2px;
	padding: 2px;
    	background-color: @f-c;	
    	border-radius: 5px;
	border-color: @a-c;
	border: 2px;
}
mainbox {
    background-color: @f-c;
}
inputbar {
    children: [prompt,entry];
    background-color: @a-c;
    text-color: @a-c;
    background-color: @f-c;
}

entry {
    background-color: @f-c;
    text-color: @a-c;
    font: "JetBrainsMono Nerd Font 14";
}

prompt {
    background-color: @f-c;
    text-color: @a-c;
}

listview {
    columns: 1;
    background-color: @f-c;
}

element {
    padding: 5px;
    background-color: @f-c;
    text-color: @t-c;
    border-radius: 5px;
}

element selected {
    background-color:  @f-c;
    text-color: @a-c;
        border-radius: 5px;
        border-color: @a-c;
        border: 2px;    
}

element-text, element-icon , mode-switcher {
    background-color: inherit;
    text-color:       inherit;
}
button {
	enabled : true;
}
