* {
    border: none;
    border-radius: 0;
    font-family: "Comic Mono";
    font-size: 14px;
    min-height: 0;
    color: #FF00FF;
}

window#waybar {
    background-color: rgba(0, 0, 0, 0);
    color: #FF00FF;
}

#workspaces {
    background-color: rgba(0, 0, 0, 0.85);
    padding: 0 0px;
    margin: 0 0px;
    border-radius: 5px;
    color: #FF00FF;
}

#workspaces button {
    padding: 0;
    background-color: transparent;
    color: #4B0082;
    padding: 0 8px;
    margin: 0 3px;
}

#workspaces button.active {
    background-color: rgba(0, 0, 0, 1);
    border: 2px solid #FF00FF;
    border-radius: 5px;
    padding: 0 8px;
    margin: 0 3px;
}

#hyprland-workspaces button:hover {
    background-color: rgba(75, 0, 130, 1);
    color: #4B0082;
    transition: background-color 0.2s ease;
}

#workspaces button.urgent {
    background-color: rgba(255, 0, 0, 0.2);
}
.modules-right, .modules-left,.modules-center {
        background-color: rgba(0, 0, 0, 0.85);
        border-radius: 5px;
        font-size: 26pt;
        margin-right: 4px;
}

#window {
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.85);
    padding: 0 5px;
    margin: 0 5px;
}

#weather,  #cen, #network, #disk, #wifi, #language, #clock, #window, #combinated, #backlight {
    border-radius: 5px;
    padding: 0 2px;
    margin: 0 3px;
}
#active{
    border: 2px solid #FF00FF;
    padding: 0 2px;
    margin: 0 3px;
}

#pulseaudio.muted {
    color: #FF00FF;
    border-radius: 5px;
    padding: 0 10px;
}    

#clock {
    min-width: 80px;
    border-radius: 5px;
    padding: 0 10px;
}

#window {
    padding: 0 10px;
    border-radius: 5px;
    padding: 0 10px;
    margin: 0 5px;
}
